body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f172a, #1e293b);
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: white;
}

.container {
    background: #334155;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    flex: 1;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-btn {
    background: #6366f1;
    color: white;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}